[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
qrcode = {extras = ["pil"], version = "*"}
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
